<div class="detail">
  <div class="row">
      <a href="#/"> Back to list of videos</a>
  </div>
  <div class="row error-msg" ng-show="showError"> {{ errorMsg }}</div>
  <div class="row detail">
    <div class="col">
      <h2 class="title">{{video.title}}</h2>
      <h4 class="description">Published on {{video.publishedAt | date:fullDate}}</h4>
    </div>
    <div class="row">
      <div class="player-wrapper col">
        <div id="yt-iframe" yt-embed>
          <!--  Youtube player injected here -->
          <div class="player-error" ng-show="playerLoadError">
            Error initializing player, please try again later
          </div>
          <div class="loader" ng-hide="playerLoadError">
              Loading player <i class="fa fa-spinner fa-lg fa-spin" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <p class="col body"> {{video.description}}</p>
    </div>
  </div>
</div>
