<div class="playlist" infinite-scroll>
  <div class="row error-msg" ng-show="showError"> {{errorMsg }}</div>
  <h1 class="row"> My Youtube playlist </h1>
  <div class="row clip" ng-repeat="video in videos">
    <div class="col body">
      <h2 class="title">
        <a href="#/videos/{{video.snippet.resourceId.videoId}}">
          {{video.snippet.title}}
        </a>
      </h2>
      <h4 class="date">Published on {{video.snippet.publishedAt | date:fullDate }} </h4>
      <p class="description">
      {{video.snippet.description | limitTo:180 }}{{video.snippet.description.length > 180 ? '....' : '' }}
      </p>
    </div>

    <a href="#/videos/{{video.snippet.resourceId.videoId}}">
      <div class="thumbnail col"
        ng-style="{'background-image': 'url('+video.snippet.thumbnails.medium.url+')'}">
      </div>
    </a>

  </div>

  <div class="loader" ng-show="loading">
      Loading videos <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
</div>
