.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$mobile: "only screen and (max-width: 481px)";
$tablet: "only screen and (min-width: 530px) and (max-width: 949px)";
$desktop: "only screen and (min-width: 950px) and (max-width: 1128px)";
$desktop-xl: "only screen and (min-width: 1129px)";
$s768: "only screen and (min-width: 768px)";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html{
  color:#000;
  font-family: 'Source Sans Pro', sans-serif;
  body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0;
    overflow: hidden;
  }
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  *{ box-sizing: border-box; }
}

.row:before,
.row:after{
  content: "";
  display: table;
  clear: both;
}

.row{
  width: 100%;
}

.col{
  width: 50%;
  float: left;
  padding:15px;
  @media #{$mobile} { width: 100%; }
}

.loader, .error-msg{
  font-size: 20px;
  text-align: center;
}
.error-msg{
  background-color: red;
  padding: 15px;
}

/***** Playlist *******/
.playlist{
  overflow: auto;
  height: 98vh;

  a{
    text-decoration: none;
    color: #464646;
    &:hover{
      color: #808080;
    }
  }

  $row-height: 260px;

  .clip{
    margin-bottom: 2px;
    height: $row-height;
    border: 1px solid #ddd;
  }

  .thumbnail{
    height: $row-height;
    background-repeat: no-repeat;
    background-size: cover;
    float: right !important;
  }

  .body{
    height: $row-height;
    float: right !important;
  }

  .description{
    font-size: 18px;
    line-height: 1.4;
  }

  .loader{
    background: #E4E4E4;
    padding: 19px;
    position: relative;
    border: 0;
  }

}

/******* Details ********/
.detail{
  a{
    text-decoration: none;
    color: #464646;
    padding: 15px;
    &:hover{
      color: #808080;
    }
    &:before{
      content: "\003c"
    }
  }
  .player-wrapper{
    iframe{
      height: 320px;

      @media #{$mobile} {
        height: 185px;
      }

      @media #{$tablet} {
        height: 195px;
      }
    }
  }
  .player-error{
    color: red;
  }
}
